.playlist-detail {
  display: flex;
  flex-direction: column;

  > .intro  {
    flex-basis: @playlist-intro-height;
    padding-top: 15px;
    padding-left: 25px;

    display: flex;
    flex-direction: row; 
    background-color: @theme-intro-bg-color;

    img.cover {
      flex: 0 0 250px;

      display: block;

      width: 250px;
      height: 250px;
      border: 1px solid #cacbcc;
    }


    > .content  {
      margin-left: 30px;
      flex-grow: 1;

      section {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          margin: 0;
          padding: 2px 16px;
        }
      }

      section:last-child {
        height: 40px;
        justify-content: flex-start;
      }

      .title {
        display: flex;
        align-items: center;
      }

      span.label-playlist {
        padding: 0 4px;
        border: 1px solid @theme-label-playlist-color;
        border-radius: 2px;
        color: @theme-label-playlist-color;
      }

      span.playlist-title {
        margin-left: 10px;
        font-size: 150%;
        color: @theme-playlist-title-color;
      }

      .count {
        position: relative;
        display: flex;
        align-items: center;
        text-align: right;
        color: @theme-count-color;
        &:after {
          position: absolute;
          top: 5%;
          content: '';
          left: 50%;
          width: 1px;
          height: 90%;
          border-left: 1px solid @theme-separator-color;
          
        }
      }

      img.creator-avatar {
        width: 32px;
        height: 32px;
        border: 1px solid #cacbcc;
        border-radius: 16px;
      }

      span.creator-nickname {
        margin-left: 6px;
        color: #444444;
      }

      span.create-time {
        margin-left: 8px;
        font-size: 80%;
        color: #888888;
      }

    }

  }

  > .table {
    nav {
      display: flex;
      a {
        padding: 2px;
        width: 120px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #fff;
        background-color: @theme-color;
      }
    }
  }
}