.player {
  > .player-control {
    display: flex;
    align-items: center;
    color: #fff;

    > span {
      margin: 0 10px;
      width: 28px;
      height: 28px;

      display: block;
      text-align: center;
      line-height: 28px;
      font-size: 20px;
      border-radius: 50%;
      background-color: @theme-color;
    }

    > span.icon-play {
      width: 34px;
      height: 34px;

      line-height: 32px;
      font-size: 14px;
    }
  }
}