.player {
  display: flex;
  align-items: center;

  > .player-control {
    display: flex;
    align-items: center;
    color: #fff;

    > span {
      margin: 0 10px;
      width: 28px;
      height: 28px;

      display: block;
      text-align: center;
      line-height: 28px;
      font-size: 20px;
      border-radius: 50%;
      background-color: @theme-player-span-color;

      &:hover {
        background-color: @theme-player-span-hover-color;
      }
    }

    > span.icon-play {
      width: 34px;
      height: 34px;

      line-height: 32px;
      font-size: 13px;
    }
  }
    
  .rc-slider {
    margin: 0 10px;

    .rc-slider-handle {
      position: relative;

      cursor: pointer;
      border: 0.5px solid @theme-separator-color;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: block;

        width: 5px;
        height: 5px;
        background-color: @theme-color;
        border-radius: 50%;
      }
    }
  }

  > .time-bar {
    margin: 0 30px;
    width: 800px;
    display: flex;
    align-items: center;
 }

  .volume {
    margin: 0 30px;
    width: 200px;
    display: flex;
    align-items: center;
  }
}