ul.side-bar {
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    margin: 0;
    padding: 0;

    p.side-bar-header {
      margin: 0;
      padding: 6px 10px;
      color: #7d7d7d;
    }

    ul.playlist {
      margin: 0;
      padding: 0;
      
      > li {
        margin: 0;
        padding: 4px 12px;
        position: relative;
      
        color: #5c5c5c;
        display: flex;
        align-items: center;
        
        .overflow-container {

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:hover {
          color: #000000;
        }
        
        &.selected {
          color: #000000;
          background-color: @theme-selected-color;
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 10%;
            left: 0;
            width: 1px;
            height: 80%;
            border-left: 3px solid @theme-color;
          }
        }
      
        span {
          margin: 0 6px;
        }

      }
    }
  }
}
