.playlist-detail {
  display: flex;
  flex-direction: column;

  > .intro  {
    display: flex;

    flex-basis: @playlist-intro-height;
    img {
      flex-basis: 250px;
      width: 250px;
      height: 250px;
    }
  }

  > .table {
    nav {
      display: flex;
      a {
        padding: 2px;
        width: 120px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #fff;
        background-color: @theme-color;
      }
    }
  }
}