.search-bar {
  margin-left: 30px;
  position: relative;

  width: @searchbar-width;
  height: @searchbar-height;

  display: flex;
  align-items: center;

  input[name="searchtext"] {
    width: 100%;
    height: 100%;
    padding-left: 14px;
    display: block;
    color: #fff;
    border: 1px solid @theme-separator-color;
    border-radius: 12px;
  }

  span.icon-search {
    position: absolute;
    top: 0;
    right: 12px;

    height: @searchbar-height;
    color: @theme-placeholder-color;
  }

  input[name="searchtext"]::placeholder {
    color: @theme-placeholder-color;
  }
}