@font-family: "Microsoft Yahei";

@font-size-base: 14px;
@font-size-small: ceil(@font-size-base * 0.85);
@font-size-h1: floor(@font-size-base * 2.6);
@font-size-h2: floor(@font-size-base * 2.15);
@font-size-h3: ceil(@font-size-base * 1.7);

@header-height: 48px;
@side-bar-width: 20%;
@footer-height: 56px;
@theme-text-color: #222;
@theme-bg-color: #c62f2f;
